
&i2c0 {
	bh1750@23 {
		compatible = "rohm,bh1750";
		reg = <0x23>;
		status = "okay";
	};
};
/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};
