ncs/
!ncs/v1.9.1/zephyr/
.vs/
*.o
*.a
*.d
*.cmd
*.log
*.pyc
*.swp
*.swo
*~
build*/
!ncs/v1.9.1/zephyr/doc/guides/build
!ncs/v1.9.1/zephyr/tests/drivers/build_all
cscope.*
.dir

/*.patch

# The .cache directory will be used to cache toolchain capabilities if
# no suitable out-of-tree directory is found.
.cache

outdir
outdir-*
ncs/v1.9.1/zephyr/scripts/basic/fixdep
ncs/v1.9.1/zephyr/scripts/gen_idt/gen_idt
ncs/v1.9.1/zephyr/doc/_build
ncs/v1.9.1/zephyr/doc/doxygen
ncs/v1.9.1/zephyr/doc/xml
ncs/v1.9.1/zephyr/doc/html
ncs/v1.9.1/zephyr/doc/boards
ncs/v1.9.1/zephyr/doc/samples
ncs/v1.9.1/zephyr/doc/latex
ncs/v1.9.1/zephyr/doc/themes/zephyr-docs-theme
sanity-out*
twister-out*
bsim_bt_out
ncs/v1.9.1/zephyr/scripts/grub
ncs/v1.9.1/zephyr/doc/reference/kconfig/*.rst
ncs/v1.9.1/zephyr/doc/doc.warnings
.*project
.settings
.envrc
.vscode
hide-defaults-note
venv
.venv
.DS_Store

# CI output
compliance.xml
_error.types

# Tag files
GPATH
GRTAGS
GTAGS
TAGS
tags

.idea
