*
!/nrf-apps/
!nrf-apps/**

!/esp32-apps/
!esp32-apps/**

!/logs/
!logs/**

!/libraries/
!libraries/**

!.gitignore

!ncs
!ncs/v2.1.2
!ncs/v2.1.2/zephyr
!ncs/v2.1.2/zephyr/drivers
!ncs/v2.1.2/zephyr/drivers/sensor
!ncs/v2.1.2/zephyr/drivers/sensor/CMakeLists.txt
!ncs/v2.1.2/zephyr/drivers/sensor/CMakeLists.txt
!ncs/v2.1.2/zephyr/drivers/sensor/Kconfig
!ncs/v2.1.2/zephyr/drivers/sensor/bh1750
!ncs/v2.1.2/zephyr/drivers/sensor/bh1750/bh1750.c
!ncs/v2.1.2/zephyr/drivers/sensor/bh1750/bh1750.h
!ncs/v2.1.2/zephyr/drivers/sensor/bh1750/Kconfig
!ncs/v2.1.2/zephyr/drivers/sensor/bh1750/CMakeLists.txt
!ncs/v2.1.2/zephyr/dts
!ncs/v2.1.2/zephyr/dts/bindings
!ncs/v2.1.2/zephyr/dts/bindings/sensor/
!ncs/v2.1.2/zephyr/dts/bindings/sensor/rohm,bh1750.yaml
!ncs/v2.1.2/zephyr/boards
!ncs/v2.1.2/zephyr/boards/arm
!ncs/v2.1.2/zephyr/boards/arm/nrf52840dongle_nrf52840
!ncs/v2.1.2/zephyr/boards/arm/nrf52840dongle_nrf52840/nrf52840dongle_nrf52840-pinctrl.dtsi

#ncs/*
#!ncs/v2.1.2

#**/v2.1.2/*
#!**/v2.1.2/zephyr

#**/zephyr/*
#!**/zephyr/samples

#**/samples/*
#!**/samples/custom







