*
!/nrf-apps/
!nrf-apps/**

!/esp32-apps/
!esp32-apps/**

!/logs/
!logs/**

!/Schematics/
!Schematics/**

!/3Dmodels/
!3Dmodels/**

!/Schematics_vodesht_vyzel/
!Schematics_vodesht_vyzel/**

!.gitignore

!ncs
!ncs/v2.1.2
!ncs/v2.1.2/zephyr
!ncs/v2.1.2/zephyr/drivers
!ncs/v2.1.2/zephyr/drivers/sensor
!ncs/v2.1.2/zephyr/drivers/sensor/CMakeLists.txt
!ncs/v2.1.2/zephyr/drivers/sensor/CMakeLists.txt
!ncs/v2.1.2/zephyr/drivers/sensor/Kconfig
!ncs/v2.1.2/zephyr/drivers/sensor/bh1750
!ncs/v2.1.2/zephyr/drivers/sensor/bh1750/bh1750.c
!ncs/v2.1.2/zephyr/drivers/sensor/bh1750/bh1750.h
!ncs/v2.1.2/zephyr/drivers/sensor/bh1750/CMakeLists.txt
!ncs/v2.1.2/zephyr/drivers/sensor/bh1750/Kconfig
!ncs/v2.1.2/zephyr/drivers/sensor/bme688
!ncs/v2.1.2/zephyr/drivers/sensor/bme688/bme688.c
!ncs/v2.1.2/zephyr/drivers/sensor/bme688/bme688.h
!ncs/v2.1.2/zephyr/drivers/sensor/bme688/CMakeLists.txt
!ncs/v2.1.2/zephyr/drivers/sensor/bme688/Kconfig
!ncs/v2.1.2/zephyr/drivers/sensor/bmp280
!ncs/v2.1.2/zephyr/drivers/sensor/bmp280/bmp280.c
!ncs/v2.1.2/zephyr/drivers/sensor/bmp280/bmp280.h
!ncs/v2.1.2/zephyr/drivers/sensor/bmp280/bmp280_i2c.c
!ncs/v2.1.2/zephyr/drivers/sensor/bmp280/bmp280_spi.c
!ncs/v2.1.2/zephyr/drivers/sensor/bmp280/CMakeLists.txt
!ncs/v2.1.2/zephyr/drivers/sensor/bmp280/Kconfig
!ncs/v2.1.2/zephyr/drivers/sensor/lis3dh
!ncs/v2.1.2/zephyr/drivers/sensor/lis3dh/lis3dh.c
!ncs/v2.1.2/zephyr/drivers/sensor/lis3dh/lis3dh.h   
!ncs/v2.1.2/zephyr/drivers/sensor/lis3dh/lis3dh_trigger.c
!ncs/v2.1.2/zephyr/drivers/sensor/lis3dh/CMakeLists.txt
!ncs/v2.1.2/zephyr/drivers/sensor/lis3dh/Kconfig
!ncs/v2.1.2/zephyr/dts
!ncs/v2.1.2/zephyr/dts/bindings
!ncs/v2.1.2/zephyr/dts/bindings/sensor/
!ncs/v2.1.2/zephyr/dts/bindings/sensor/rohm,bh1750.yaml
!ncs/v2.1.2/zephyr/dts/bindings/sensor/bosch,bme688-i2c.yaml
!ncs/v2.1.2/zephyr/dts/bindings/sensor/st,lis3dh-common.yaml
!ncs/v2.1.2/zephyr/dts/bindings/sensor/st,lis3dh-i2c.yaml
!ncs/v2.1.2/zephyr/boards
!ncs/v2.1.2/zephyr/boards/arm
!ncs/v2.1.2/zephyr/boards/arm/nrf52840dongle_nrf52840
!ncs/v2.1.2/zephyr/boards/arm/nrf52840dongle_nrf52840/nrf52840dongle_nrf52840-pinctrl.dtsi
!ncs/v2.1.2/zephyr/boards/arm/nrf52840dongle_nrf52840/nrf52840dongle_nrf52840.dts


!Diplomna-LN.pdf
#ncs/*
#!ncs/v2.1.2

#**/v2.1.2/*
#!**/v2.1.2/zephyr

#**/zephyr/*
#!**/zephyr/samples

#**/samples/*
#!**/samples/custom







