&i2c0 {
	// bh1750@23 {
	// 	compatible = "rohm,bh1750";
	// 	reg = <0x23>;
	// 	status = "okay";
	// 	label = "BH1750";
	// };
	bme680_sensor: bme680@76 {
		compatible = "bosch,bme680";
		reg = <0x76>;
		status = "okay";
		label = "BME680";
	};
};

&uart0 {
	status = "okay";
	hw-flow-control;
};

/ {
	chosen {
		zephyr,entropy = &rng;
	};
};

