&i2c0 {
	bme688@76 {
		compatible = "bosch,bme688";
		reg = <0x76>;
		status = "okay";
	};
};
/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};